<div style="width: 50%;">
    <h2>Book a Meeting Room</h2>
    
    <form (ngSubmit)="bookMeeting()">
      <label class="form-label">Username:</label>
      <input class="form-control" type="text" [(ngModel)]="meeting.username" name="username" required>
      <br>
      <label class="form-label">Meeting Room:</label>
      <select [(ngModel)]="meeting.room" name="room">
        <option *ngFor="let room of [1,2,3,4,5,6,7,8,9,10]" [value]="room">{{room}}</option>
      </select>
      <br>
      <label class="form-label">Date:</label>
      <input class="form-control" type="date" [(ngModel)]="meeting.date" name="date" required>
      <br>
      <label class="form-label">From Time:</label>
      <input class="form-control" type="time" [(ngModel)]="meeting.fromTime" name="fromTime" required>
      <br>
      <label class="form-label">To Time:</label>
      <input class="form-control" type="time" [(ngModel)]="meeting.toTime" name="toTime" required>
      <br>
      <label class="form-label">Agenda:</label>
      <input class="form-control" type="text" [(ngModel)]="meeting.agenda" name="agenda" required>
      <br>
      <button type="submit" class="btn btn-primary">Book Meeting</button>
    </form>
  </div>
  